*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore all bin directories
**/bin/

# Ignore all obj directories
**/obj/


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

/MicroServices.AuthAPI/bin/Debug/net7.0/MicroServices.AuthAPI.dll
/MicroServices.AuthAPI/bin/Debug/net7.0/MicroServices.AuthAPI.pdb
/MicroServices.AuthAPI/obj/Debug/net7.0/MicroServices.AuthAPI.dll
/MicroServices.AuthAPI/obj/Debug/net7.0/MicroServices.AuthAPI.pdb
